#Files to ignore

#Classes, logs
*.class
*.log

#Archives, compressed files
*.jar
*.zip
*.rar
*.tar.gz

#VM crash logs
hs_err_pid*

#Other

#Temporary, or only needed locally
*.temp

#If somebody decides to use Bluej (actually does a nice job of highlighting)
*.bluej
*.ctxt
